@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root {
    --shadow-color-max:#778ee2;
    --shadow-color-medium:#91a7e9;
    --shadow-color-minimal:#abbff1;
    --light-color-medium :#c4d8f8;
    --light-color-max:#fafdff;
    --light-color-font:#657481;
    --shadow-color-font:#222222;
    --primary-font: 'Poppins', sans-serif;
}


.container {
    background-color: var(--light-color-max);
}

.my-title-primary {
    font-family: var(--primary-font);
    color: var(--shadow-color-font);
}

.my-title-secondary {
    font-family: var(--primary-font);
    color: var(--light-color-font);
    font-size: 13px;
    font-weight: bold;
}

.my-font {
    font-family: var(--primary-font);

}

#my-button {
    color: var(--light-color-max);
    background: var(--shadow-color-max);
}

.spacement-content {
    margin: 0 250px;
}

#button-group {
    max-width: 300px;
}

.custom-shape-divider-top-1654119853 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1654119853 svg {
    position: relative;
    display: block;
    width: calc(192% + 1.3px);
    height: 292px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1654119853 .shape-fill {
    fill: #4d7fb8;
}